# Auto detect text files and perform LF normalization
* text=auto

# Custom for specific file types
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.md text eol=lf

# Binary files
*.jpg binary
*.png binary
*.gif binary
